@model IEnumerable<StorageManagement.Models.Product>

@{
    ViewData["Title"] = "ProductList";
}
<div class="container-fluid pt-4 px-4">
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Product list</h6>
            <form asp-controller="Products" asp-action="Index" class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search" name="SearchString" />
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price input</th>
                        <th scope="col">Price output</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th class="ProductId" onclick="handleClickIdDataCell(event)" scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Category)</td>
                            <td>@Html.DisplayFor(modelItem => item.priceInput)VNĐ</td>
                            <td>@Html.DisplayFor(modelItem => item.priceOutput)VNĐ</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="m-n2">
                <button type="button" class="btn btn-lg btn-primary m-2" onclick="goToEditProduct()" >EDIT PRODUCT</button>
                <button type="button" class="btn btn-lg btn-secondary m-2" onclick=goToDeleteProduct()>DELETE PRODUCT</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var idDataCells = document.querySelectorAll('.ProductId');
        idDataCells.forEach(function (cell) {
            cell.classList.remove('selectedProductId');
        });
        sessionStorage.removeItem('selectedProductId');
    });
</script>
